@media screen and (min-width: 768px) {
  .marketingPage h1 {
    font-size: 52px;
    line-height: 56px;
  }
}
.answer {
  display: none;
}
* {
  scroll-behavior: smooth;
}
.error-border {
  border: 1px solid #f04738 !important;
}
